<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>

    <div id="T2B"></div>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>奶油獅食牛奶</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #FFFF78  ;">
    <h1>歡迎來到孟哲網站T</h1>
    <h2>這周來看個隨機圖案們<br>
    </h2>
    {% for url in urllist %}
        <img src={{url}} alt="random pic1">
    {% endfor %}
    <!--隨機抓出圖片的網站-->

    <!--無法正確顯示youtube影片!!

    <video src="https://www.youtube.com/watch?v=5KB_i1nE6Uw" width="400" height="300" controls>
        here should be a videoQQ
    </video>
    -->
    <iframe width="700" height="394" src="https://www.youtube.com/embed/YkLyTXJYwgI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <div id="container">
        <div id="content">
            <div class="msg">
                <span class="name">Pecu</span>
                Hello,Class!

            </div>
            <div class="msg">
                <span class="name">Michael</span>
                Hello,Pecu.
            </div>
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
            <span id='ps'>Ps:格子是假的，無法輸入ＸＤ</span>
        </div>
    </div>
</body>

</html>